body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Segoe UI", sans-serif;
}

.form-missao {
    background: rgb(0, 0, 0);
    padding: 30px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.15);
}

.form-missao h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
}

.form-missao label {
    display: block;
    margin-top: 10px;
    font-weight: 600;
}

.form-missao input,
.form-missao select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
}

.form-missao input:focus,
.form-missao select:focus {
    border-color: #007bff;
}

.form-missao button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.form-missao button:hover {
    background: #005dc7;
}