:root {
  --primary: #121212;
  --text: #eaeaea;
  --blue: #2563eb;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 65.2%;
}

body {
  color: var(--text);
  padding-bottom: 80px; /* apenas aqui */
}

/* NAVBAR FIXA */
.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: center;
  gap: 40px;

  padding: 12px 0;

  background: rgba(20, 20, 20, 0.7);
  backdrop-filter: blur(6px);

  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.25);

  z-index: 999; /* fica acima de tudo */
}

/* LINK */
.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #888;
  text-decoration: none;

  transition: 0.25s ease;
  -webkit-tap-highlight-color: transparent;
}

.nav-item i {
  width: 24px;
  height: 24px;
  margin-bottom: 4px;
  stroke: #888;
  transition: 0.25s ease;
}

/* HOVER */
.nav-item:hover {
  color: var(--blue);
}

.nav-item:hover i {
  stroke: var(--blue);
}

/* ATIVO */
.nav-item.active {
  color: var(--blue);
  font-weight: bold;
}

.nav-item.active i {
  stroke: var(--blue);
}

/* RESPONSIVIDADE */
@media (max-width: 400px) {
  .navbar {
    gap: 22px;
    padding: 10px 0;
  }

  .nav-item i {
    width: 22px;
    height: 22px;
  }
}
