:root {
  --primary: #121212;
  --text: #eaeaea;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 65.2%;
}

body {
  color: var(--text);
}

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.05);
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 40px;
  color: #666;
  text-decoration: none;
  transition: 0.3s;
}

.nav-item i {
  width: 24px;
  height: 24px;
  margin-bottom: 4px;
}

.nav-item.active {
  color: #2563eb;
  /* azul destaque */
  font-weight: bold;
}

.nav-item.active i {
  stroke: #2563eb;
}

.nav-item:hover {
  color: #2563eb;
}